body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff; /* Adjust background color as needed */
    text-align: center; /* Center content horizontally */
}

main {
    padding: 20px;
}

video {
    width: 100%;
    height: auto;
}

.fragrance-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

.description {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.8;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    width: 100%;
}
