/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

nav {
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 100px; /* Adjust according to your logo size */
    transition: max-width 0.3s ease;
}

.logo img {
    width: 100%;
    height: auto;
}

header.scrolled {
    background-color: #fff; /* Change to a different color or style when scrolled */
}

main {
    margin-top: 80px; /* Adjust according to your header height */
}

#fragrance {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
}

.fragrance-image {
    max-width: 400px; /* Adjust according to your image size */
    margin-bottom: 20px;
}

.fragrance-details {
    max-width: 600px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

.description {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.8;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    width: 100%;
}
